.editrecipe-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.editrecipe-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
  width: 80%;
  height: auto;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: whitesmoke;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.7);
}

.editinstructions-card {
  width: 75%;
  height: 100%;
  display: table-cell;
  padding-left: 1em;
}

.card-heading {
  display: flex;
  flex-direction: column;
  width: 100%
}