header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: sienna;
  padding: 0.5rem 1rem;
  height: 50px
}

.heading {
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 1rem;
}

.navlink {
  padding: 0.5rem 1rem;
  color: darkgrey;
}

.navlink:hover,
.heading:hover {
  color: whitesmoke;
  cursor: pointer;
  transition: .4s;
  text-decoration: none;
}

.heading:hover {
  color: white;
  background-color: saddlebrown;
  border-radius: 5px;
}