header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: sienna;
  padding: 0.5rem 1rem;
  height: 50px
}

.heading {
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 1rem;
}

.navlink {
  padding: 0.5rem 1rem;
  color: darkgrey;
}

.navlink:hover,
.heading:hover {
  color: whitesmoke;
  cursor: pointer;
  transition: .4s;
  text-decoration: none;
}

.heading:hover {
  color: white;
  background-color: saddlebrown;
  border-radius: 5px;
}

.active {
  color: whitesmoke;
  background-color: cornflowerblue;
  border-radius: 5px;
}

.modal-header-btn {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

@media screen and (max-width: 640px) {
  .heading {
    font-size: 1.25rem;
  }

  .navlink {
    font-size: .8rem;
    padding: 0.5rem 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: sienna;
    padding: 0.5rem 1rem;
    height: 75px
  }

  .heading {
    font-size: 1.25rem;
  }

  .navlink {
    font-size: .8rem;
    padding: 0.5rem 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  .navlink {
    font-size: .7rem;
    padding: 0.25rem 0.25rem;
  }
}