.recipes-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  align-items: center;
}

.recipes-container h2 {
  margin-top: 1em;
  -webkit-text-stroke: 1px whitesmoke;
}

.recipes-section {
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.recipe-card-basic {
  display: table-cell;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1em;
  width: 40%;
  height: max-content;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, .7);
}

.button-box {
  display: flex;
  width: 100%;
  justify-content: center;
}

.button-box button {
  margin: 0 1em;
  padding: .25em 1.5em;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(grey), to(white));
  -webkit-box-shadow: 0px 3px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
  -moz-box-shadow: 0px 3px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
  box-shadow: 0px 3px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
}

.button-box button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(grey));
  transition: .4s;
}

.button-box button:active {
  background-image: linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
  background-image: -o-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);

  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(88,154,204)),
      color-stop(1, rgb(90,150,199))
  );
}